.lines{
    position: absolute;
	right: 0;
    bottom: 0;
    width: 23vw;
    height: auto;
}

.dots{
    position: absolute;
	top: 0;
	left: 0;
    width: 17vw;
    height: auto;
}

.flowerOne {
    position: absolute;
	top: 0;
	right: 0;
    width: 12vw;
    height: auto;
    transform: rotate(180deg);
}

.flowerTwo {
    position: absolute;
	left: 0;
    bottom: 0;
    width: 12vw;
    height: auto;
}

.vertical-box {
    display: grid;
    grid-template-rows: 10vw 9vw 6vw 5vw;
    text-align: center;
    position: relative;
    margin-top: 20vh;
}

.profile{
    width: 17vw;
    height: auto;
    position: absolute;
    left: 50%; 
    transform: translate(-50%, -40%);
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(9, 9, 9, 0.23);
}

.name-text{
    font-family: "Cardo";
    font-size: 2.3vw;
}

.icon{
    color: #000;
    font-size: 2.5vw;
    border: none;
    text-decoration: none;
    padding: 0% 1% 0% 1%;
}

.icon:hover{
    color: #B66C49;
}

.resume{
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-family: "Cardo";
    color: black;
    background-color: #B66C49;
    border-radius: 30px;
    font-size: 2.25vw;
    width: 180px;
    height: 60px;
    box-shadow: 0 1px 1px 1px rgba(9, 9, 9, 0.23);
}

.resume:hover{
    background-color: black;
    color: white;
}

/* For mobile phones: */
@media screen and (max-width: 600px) {
    .lines{
        width: 28vw;
    }
    
    .dots{
        width: 35vw;
    }
    
    .flowerOne {
        width: 16vw;
        height: auto;
    }
    
    .flowerTwo {
        width: 16vw;
        height: auto;
    }

    .profile{
        width: 45vw;
    }

    .vertical-box {
        margin-top: 20vh;
        grid-template-rows: 28vw 23vw 20vw 0vw;
    }
    
    .name-text{
        font-size: 6vw;
    }

    .icon{
        font-size: 8vw;
        padding: 0% 2% 1% 2%;
    }

    .resume{
        border-radius: 30px;
        font-size: 20px;
        width: 100px;
        height: 35px;
    }
} 
