.lines{
    position: absolute;
	right: 0;
    bottom: 0;
    width: 23vw;
    height: auto;
}

.dots{
    position: absolute;
	top: 0;
	left: 0;
    width: 17vw;
    height: auto;
}

.flowerOne {
    position: absolute;
	top: 0;
	right: 0;
    width: 15vw;
    height: auto;
    transform: rotate(180deg);
}

.flowerTwo {
    position: absolute;
	left: 0;
    bottom: 0;
    width: 15vw;
    height: auto;
}

.me{
    width: 20vw;
    height: auto;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.nameInfo {
    text-align: center;
    position: relative;
    margin-top: 48vh;
}

.nameInfo h3{
    font-family: "Courier Prime";
    font-size: 2.5vw;
    margin-top: 1vh;
}

.icon{
    color: #000;
    font-size: 2.5vw;
    border: none;
    text-decoration: none;
    padding: 0% 1% 0% 1%;
}

.icon:hover{
    color: #B48846;
}

.resume{
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-family: "Courier Prime";
    color: black;
    background-color: #B48846;
    border-radius: 30px;
    font-size: 2vw;
    width: 180px;
    height: 50px;
    margin-top: 2vh;
}

.resume:hover{
    background-color: black;
    color: white;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) { 
    
} 
