.resume button {
    all: unset;
    cursor: pointer;
    padding: 2% 7% 2% 7%;
}
.resume button:hover{
    background-color: #FFEFBA;
    border-radius: 10px;
}
.resume a {
    font-family: 'Times New Roman', Times, serif;
    color: #AB8860;
    font-size: 2vw;
    border: none;
    text-decoration: none;
}
.resume img {
    top: 0px;
    left: 5%;
    width: 30%;
}
.bodyResume{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    height: 80vh;
}
/* For mobile phones: */
@media only screen and (max-width: 768px) {
    .resume button:hover{
        background-color: #FFF6D8;
        border-radius: 10px;
    }
    .resume img {
        width: 30%;
        margin-left: 2%;
    }
    .bodyResume{
        margin-top: 15%;
        margin-left: 10%;
        margin-right: 10%;
        height: 58vh;
    }
}