.about button {
    all: unset;
    cursor: pointer;
    padding: 2% 7% 2% 7%;
}
.about button:hover{
    background-color: #FFEFBA;
    border-radius: 10px;
}
#active{
    background-color: #FFEFBA;
    border-radius: 10px; 
}
.about a {
    font-family: 'Times New Roman', Times, serif;
    color: #AB8860;
    font-size: 2vw;
    border: none;
    text-decoration: none;
}
.grid-container{
    display: grid;
    margin-right: 0%;
    margin-left: 55%;
    padding-right: 5%;
    padding-top: 2%;
    grid-template-columns: auto auto auto auto;
}
.grid-child{
    text-align: center;
}
.about img {
    top: 0px;
    left: 5%;
    width: 30%;
}
.top-bar{
    display: grid;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 2%;
    grid-template-columns: 20% 80%;
}
.body-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left:  17%;
    margin-right: 17%;
    margin-top: 4.5%;
}
#profile{
    border-radius: 20px;
    width: 75%;
    margin: auto;
    display: block;
}
.body-child1{
    text-align: center;
    margin-top: 20%;
}
.about h2{
    font-family: "Parisienne";
    font-size: 4vw;
    color: #AB8860;
    margin-bottom: 1%;
}
.about h3 {
    padding-top: -3%;
    color: #DBB391;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    font-weight: lighter;
}