.art button {
    all: unset;
    cursor: pointer;
    padding: 2% 7% 2% 7%;
}
.art button:hover{
    background-color: #FFEFBA;
    border-radius: 10px;
}
.art a {
    font-family: 'Times New Roman', Times, serif;
    color: #AB8860;
    font-size: 2vw;
    border: none;
    text-decoration: none;
}
.art img {
    top: 0px;
    left: 5%;
    width: 30%;
}
.art h2{
    font-family: "Parisienne";
    font-size: 3vw;
    color: #AB8860;
    text-align: center;
    margin-top: -1%;
}
.dropdown-content a {
    font-size: 5vw;
    font-family: 'Times New Roman', Times, serif;
    color: #AB8860;
    text-decoration: none;
    display: block;
    cursor: pointer;
    padding-left: 0%;
    transition: all 0.5s ease;
}
.gridArt{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-left: 5%;
    padding: 2% 2% 2% 2%;
}
.outerChild{
    width: 18vw;
    height: 18vw;
    overflow: hidden;
    position: relative;
    margin-bottom: 10%;
    cursor: pointer;
}
.gridArt-child{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 500ms ease;
}
.gridArt-child:hover{
    transform: scale(1.2);
}
/* #modalImage{
    width: 40vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
} */
/* For mobile phones: */
@media only screen and (max-width: 768px) {
    .art button:hover{
        background-color: #FFF6D8;
        border-radius: 10px;
    }
    .art img {
        width: 30%;
        margin-left: 2%;
    }
    .gridArt{
        grid-template-columns: 50% 50%;
        margin-left: 10%;
        margin-top: 5%;
        padding: 2% 2% 2% 2%;
    }
    .outerChild{
        width: 35vw;
        height: 35vw;
        overflow: hidden;
        position: relative;
        margin-bottom: 20%;
    }
    .art h2{
        font-size: 6vw;
        margin-bottom: 12%;
        margin-top: 4%;
    }
}