.navigation {
    position: relative;
    display: flex;
    align-items: center;
    height: 90px;
    width: 85%;
    padding: 0.8rem 0rem;
    color: black;
    z-index: 6;
    font-family: "Courier Prime";
  }
  
  .navigation-menu {
    margin-left: auto;
    padding-right: 2rem;
  }
  
  .navigation-menu ul {
    display: flex;
    padding: 0;
  }
  
  .navigation-menu li {
    list-style-type: none;
    margin: 0 1rem;
    padding: 2% 2% 2% 2%;
    border-radius: 10px;
  }
  
  .navigation-menu li a {
    font-size: 2vw;
    text-decoration: none;
    display: block;
    width: 100%;
    color: black;
  }

  .navigation-menu li:hover {
    background-color: #B48846;
  } 
  
  .hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: var(--color-light-green);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    color: var(--color-dark-green);
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
    font-size: larger;
  }
  
  .hamburger:hover {
    background-color: var(--color-blue);
  }
  
  @media screen and (max-width: 600px) {
    .hamburger {
      display: block;
    }

    .brand-name h2{
        font-size: 8vw;
        margin-left: 0.6rem;
      }
  
    .navigation-menu ul {
      flex-direction: column;
      position: absolute;
      top: 90px;
      left: 0;
      width: 100%;
      height: calc(100vh - 90px);
      background-color: var(--color-light-green);
      display: none;
    }
  
    .navigation-menu li {
      text-align: center;
      margin: 0;
    }
  
    .navigation-menu li a {
      font-size: larger;
      color: var(--color-dark-green);
      width: 100%;
      padding: 1.5rem 0;
    }
  
    .navigation-menu li:hover {
      background-color: var(--color-yellow);
    }
  
    .navigation-menu.expanded ul {
      display: block;
      z-index: 4;
    }

    .navigation{
      height: 70px;
    }

    .brand-name img{
      width: 80px;
      height: auto;
    }
  }
  