.projects button {
    all: unset;
    cursor: pointer;
    padding: 2% 7% 2% 7%;
}
.projects button:hover{
    background-color: #FFEFBA;
    border-radius: 10px;
}
.projects a {
    font-family: 'Times New Roman', Times, serif;
    color: #AB8860;
    font-size: 2vw;
    border: none;
    text-decoration: none;
}
.projects img {
    top: 0px;
    left: 5%;
    width: 30%;
}
.gridProjects{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin-left: 5%;
    padding: 2% 2% 2% 2%;
}
.outerPChild{
    width: 18vw;
    height: 18vw;
    overflow: hidden;
    position: relative;
    margin-bottom: 10%;
    cursor: pointer;
}
.gridProject-child{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    transition: transform 500ms ease;
}
/* For mobile phones: */
@media only screen and (max-width: 768px) {
    .projects button:hover{
        background-color: #FFF6D8;
        border-radius: 10px;
    }
    .projects img {
        width: 30%;
        margin-left: 2%;
    }
}